@charset "utf-8";

body {
  background: #ffffff;
  text-align: center;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
}

h1 {
  color: rgba(0,0,0,0.5);
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.8em;
  font-weight: 400;
  margin: 0;
}

#container {
  min-height: 100%;
}

#footer {
  clear: both;
  font-size: 0.7rem;
  margin-top: -2.4rem;
  height: 2.4rem;
}

.full {
  max-width: 100%;
  width: 100%;
  margin: 0;
}

.title {
  color: rgba(0,0,0,0.8);
  font-size: 1.6rem;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.apache {
  background-color: #E4E5FC;
  color: #303284;

  a {
    color: rgba(0, 0, 0, 0.6);
    font-size: 0.8em;
    &:hover {
      color: black;
    }
  }
}

.header-line {
  border-bottom: 1px black solid;
}
