---
---
<div class="row full" style="max-height: 600px;">
  <video src="images/WaveDemo.webm" loop autoplay style="max-width: 100%; max-height: 600px;"></video>
</div>
<div class="row column large-6" style="padding-top: 20px;">
  <p class="text-left">
    Apache Wave is a distributed, near-real-time, rich collaboration platform
    that allows users to work together in new and exciting ways. Wave allows
    for flexible modes of communication, blending chat, email and collaborative
    document editing in to one seamless environment. Wave provides a lively and
    responsive environment that promotes more fluid and dynamic collaboration
    between users.
  </p>
  <p class="text-left">
    The Apache Wave project is still in its infancy. To graduate from incubation we
    need to mature the code base, grow the community, provide better
    documentation, and make some software releases. We are currently driving
    towards our first stable release. If you are interested in joining the
    comunnity please see the Get Involved page.
  </p>
  <h1 class="text-left header-line">Server</h1>
  <p class="text-left">
    blurb about the serve
  </p>
  <a href="#" class="button">Learn More</a>
  <h1 class="text-left header-line">Client</h1>
  <p class="text-left">
    blurb about the clients
  </p>
  <a href="#" class="button">Learn More</a>
  <h1 class="text-left header-line">Editor</h1>
  <p class="text-left">
    blurb about the editor
  </p>
  <a href="#" class="button">Learn More</a>
</div>
<div class="row full apache">
  <div class="column small-5" style="padding: 20px; text-align: right;">
    <a href="https://www.apache.org/">
      <img src="https://www.apache.org/foundation/press/kit/feather.svg" alt="Apache Software Foundation feather logo" style="height: 200px;" />
    </a>
  </div>
  <div class="column small-7" style="text-align: left; font-size: 1.4rem; padding: 70px 0;">
    Apache Wave is an incubating project<br/> at the Apache Software Foundation.<br/>
    <span class="apache-links"><a href="https://www.apache.org/foundation/thanks.html">Thanks</a> - <a href="https://www.apache.org/foundation/sponsorship.html">Become a Sponsor</a> - <a href="https://www.apache.org/security/">Security</a></span>
  </div>
</div>
